extends layout

block content 
  br
  br
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-md-12 text-center')
        div(class='form-group has-feedback')
          h2 Catálogo de pictogramas del alumno XXXXXXX
      div(class='col-md-7 offset-md-2' style='height:400px;overflow:auto;border:1px solid black;')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
            img(src='images/prueba.png' width='200' height='200')
      div(class='col-md-2 offset-md-1 align-self-end')
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Favorito
            br
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Añadir
            br
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Eliminar
  br
  br
  br
  br
  br
  br
