extends layout

block content 
  br
  br
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-md-5')
        div(class='form-group')
          h2 Seleccione Actividad
          select(multiple class='form-control' size='10')
            option Actividad generica 1
            option Actividad generica 2
            option Actividad generica 3
            option Actividad generica 4
            option Actividad generica 5
            option Actividad generica 6
            option Actividad generica 7
            option Actividad generica 8
            option Actividad generica 9
            option Actividad generica 10
            option Actividad generica 11
            option Actividad generica 12
            option Actividad generica 13
            option Actividad generica 14
            option Actividad generica 15
            option Actividad generica 16
            option Actividad generica 17
            option Actividad generica 18
          br
          
      div(class='col-md-2')
      div(class='col-md-4')
        br
        br
        br
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='/chooseStu' class='btn btn-light btn-block') Iniciar
        br
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Borrar
          br
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Editar
          br
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Crear
  br
  br
  br
  br
  br
