extends layout

block content 
  br
  br
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-md-5')
        div(class='form-group')
          h2 Seleccione Alumno
          select(multiple class='form-control' size='10')
            option Nombre Alumno 1
            option Nombre Alumno 2
            option Nombre Alumno 3
            option Nombre Alumno 4
            option Nombre Alumno 5
            option Nombre Alumno 6
            option Nombre Alumno 7
            option Nombre Alumno 8
            option Nombre Alumno 9
            option Nombre Alumno 10
            option Nombre Alumno 11
            option Nombre Alumno 12
            option Nombre Alumno 13
            option Nombre Alumno 14
            option Nombre Alumno 15
            option Nombre Alumno 16
            option Nombre Alumno 17
            option Nombre Alumno 18
          br
      div(class='col-md-2')
      div(class='col-md-4')
        br
        br
        br
        br
        br
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Preparar
        br
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='/chooseAct' class='btn btn-light btn-block') Cancelar
  br
  br
  br
  br
  br
  br
