extends layout

block content 
  br
  br
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-md-5')
        div(class='form-group')
          h2 Profesores vinculados
          select(multiple class='form-control' size='10')
            option Profesor 1
            option Profesor 2
            option Profesor 3
            option Profesor 4
            option Profesor 5
            option Profesor 6
            option Profesor 7
            option Profesor 8
            option Profesor 9
            option Profesor 10
            option Profesor 11
            option Profesor 12
            option Profesor 13
            option Profesor 14
            option Profesor 15
            option Profesor 16
            option Profesor 17
            option Profesor 18
          br
          div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-outline-light btn-block') Borrar
      div(class='col-md-5 offset-md-2')
        div(class='form-group')
          h2 Profesores no vinculados
          select(multiple class='form-control' size='10')
            option Profesor 1
            option Profesor 2
            option Profesor 3
            option Profesor 4
            option Profesor 5
            option Profesor 6
            option Profesor 7
            option Profesor 8
            option Profesor 9
            option Profesor 10
            option Profesor 11
            option Profesor 12
            option Profesor 13
            option Profesor 14
            option Profesor 15
            option Profesor 16
            option Profesor 17
            option Profesor 18
          br
          div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Añadir
  br
  br
  br
  br
  br
  br
