extends layout

block content 
  div(class='container main-container')
    div(class='row justify-content-center')
      div(class='col-md-offset-5 col-md-6')
        div(class='form-group has-feedback')
          if (error && error.length > 0)
            br
            h4.error-msg= error
            br
          form(method='post' action='')
            h4(class='display-4') Login
            label(class='control-label') Correo
            input(type='text' name='email' id='correo' class='form-control input-sm chat-input', placeholder='Correo' required)
            br
            label(class='control-label') Contraseña
            input(type='password' name='password' id='clave' class='form-control input-sm chat-input' placeholder='Contraseña' required)
            a(href='#') ¿Olvidaste la contraseña?
            br
            br
            input(type='submit' class='btn btn-light btn-block' id='iniciar' value='Iniciar sesión')