extends layout

block content 
  br
  br
  div(class='container')
    div(class='row justify-content-center')
      div(class='col-md-5')
        div(class='form-group')
          h2 Actividades asignadas
          select(multiple class='form-control' size='10')
            option Actividad 1
            option Actividad 2
            option Actividad 3
            option Actividad 4
            option Actividad 5
            option Actividad 6
            option Actividad 7
            option Actividad 8
            option Actividad 9
            option Actividad 10
            option Actividad 11
            option Actividad 12
            option Actividad 13
            option Actividad 14
            option Actividad 15
            option Actividad 16
            option Actividad 17
            option Actividad 18
          br
          div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-outline-light btn-block') Borrar
      div(class='col-md-4 offset-md-2')
        br
        br
        br
        br
        div(class='wrapper')
          div(class='text-center')
            span(class='group-btn btn-group-justified ')
              a(href='#' class='btn btn-light btn-block') Asignar actividad
  br
  br
  br
  br
  br
  br
